 /* Estilo del fondo de la página */
 body {
    font-family: Arial, sans-serif;
    background-image: url('./Fondos/Fanimes.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.schedule-container {
    background-color: #1a1f36; 
    max-width: 850px;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
}

.schedule-container h1 {
    text-align: center;
    color: #ffffff;
}

/* Estilo de los títulos */
.trip {
    border: 1px solid #fff8f8;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.trip img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(15, 5, 5, 0.2)
}
.trip-info {
    flex-grow: 1;
}
.trip h3 {
    margin: 1;
    color: #ffffff;
}
.trip p {
    margin: 40px 0;
    margin-right: 20px;
    color: #ffffff;
}
